@import url(./__author/comments__author.css);
@import url(./__quote/comments__quote.css);
@import url(./__image/comments__image.css);
@import url(./__cell/comments__cell.css);

.comments {
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-column-gap: 19px;
}

@media screen and (max-width: 1023px) {
  .comments {
    max-width: 382px;
    grid-gap: 48px;
  }
}

@media screen and (max-width: 767px) {
  .comments {
    margin-top: 48px;
  }
}

@media screen and (max-width: 374px) {
  .comments {
    margin-top: 40px;
  }
}
