@import url(./__author/comments__author.css);
@import url(./__quote/comments__quote.css);
@import url(./__image/comments__image.css);
@import url(./__cell/comments__cell.css);

.comments {
  max-width: 1184px;
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 19px;
}
