@import url(./_active/header__lang-link_active.css);

.header__lang-link {
  color: white;
  text-decoration: none;
  margin-left: 18px;
}

 .header__lang-link:hover {
  opacity: .5;
  transition: opacity  linear 1s;
}
