@import url(./_active/header__lang-link_active.css);

.header__lang-link {
  color: white;
  text-decoration: none;
}

 .header__lang-link:hover {
  opacity: .5;
  transition: opacity  linear 1s;
}

.header__lang-link.header__lang-link_active {
  text-decoration: underline;
}
