@import url(./__subtitle/photographers__subtitle.css);
@import url(./__title/photographers__title.css);

.photographers {
  max-width: 1184px;
  margin: 102px auto 0;
}

@media screen and (max-width: 1279px) {
  .photographers {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .photographers {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photographers {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
