.baykal-to-dog__title{
  max-width: 1094px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin-top: 274px;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

@media screen and (max-width: 1279px) {
  .baykal-to-dog__title {
    white-space: pre;
  }
}

@media screen and (max-width: 1023px) {
  .baykal-to-dog__title {
    margin-top: 165px;
  }
}

@media screen and (max-width: 767px) {
  .baykal-to-dog__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 104px;
  }
}

@media screen and (max-width: 374px) {
  .baykal-to-dog__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
  }
}
