@import url(./__portrait/location__portrait.css);
@import url(./__image/location__image.css);
@import url(./__text/location__text.css);
@import url(./__title/location__title.css);

.location {
  margin-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"title url"
    "image portrait";
}

.location:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .location {
    grid-gap: 60px 40px;
  }
}

@media screen and (max-width: 1279px) {
  .location {
    grid-gap: 40px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .location {
    margin-bottom: 81px;
    grid-gap: 40px 28px;
  }
}

@media screen and (max-width: 767px) {
  .location {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0;
    margin-bottom: 48px;
    grid-template-areas:
    "title"
    "image"
    "portrait";
  }
}
