.location__title {
	grid-area: title;
	font-size: 72px;
	line-height: 65px;
	font-weight: 900;
  margin: 0;
  white-space: pre;
 }

 @media screen and (max-width: 1023px) {
	.location__title {
	  font-size: 42px;
	  line-height: 46px;
	}
 }

 @media screen and (max-width: 767px) {
	.location__title {
	  font-size: 32px;
	  line-height: 35px;
	  margin-left: 16px;
	  margin-right: 16px;
	  white-space: nowrap;
	}
 }
