.photo-grid__item {
  width: 100%;
  min-height: 188px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__item {
    min-height: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__item {
    min-height: 234px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    min-height: 232px;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid__item {
    min-height: 192px;
  }
}
