.video__item {
  background-image: url(../../../images/colors-of-camchatka.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 583px;
  color: white;
  text-decoration: none;
  position: relative;
  border-radius: 5px;
}

.video__item:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .7)
  ),
  url(../../../images/colors-of-camchatka.png);
}

@media screen and (min-width: 1280px) {
  .video__item {
    height: 323px;
  }
}

@media screen and (max-width: 1279px) {
  .video__item {
    height: 288px;
  }
}

@media screen and (max-width: 1023px) {
  .video__item {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .video__item {
    height: 192px;
  }
}

@media screen and (max-width: 615px) {
  .video__item {
    height: 240px;
  }
}

@media screen and (max-width: 424px) {
  .video__item {
    height: 200px;
  }
}


@media screen and (max-width: 374px) {
  .video__item {
    height: 192px;
  }
}

