.comments__cell {
  max-width: 382px;
}

@media screen and (max-width: 1023px) {
  .comments__cell {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "image"
    "author"
    "quote";

  }
}
