.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;
    align-self: flex-start;
  }
}
