.video__icon-play {
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .video__icon-play {
    left: 24.5px;
    top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .video__icon-play {
    left: 24px;
    top: 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__icon-play {
    left: 16px;
    top: 16px;
  }
}
