@import url(./_font-bold/intro__facts_font-bold.css);

.intro__facts {
  list-style-type: none;
  width: 383px;
  margin: 24px 0 0;
  padding-left: 0;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .intro__facts {
    margin-top: 32px;
    font-size: 12px;
    line-height: 19px;
  }
}
