.intro__facts {
  list-style-type: none;
  max-width: 383px;
  font-weight: bold;
  margin: 24px 0 0;
  padding-left: 0;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .intro__facts {
    margin-top: 32px;
    font-size: 12px;
    line-height: 19px;
  }
}
