.video__director {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .video__director {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1023px) {
  .video__director {
    margin-left: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 615px) {
  .video__director {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 424px) {
  .video__director {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
