@import url(./__title/intro__title.css);
@import url(./__content/intro__content.css);
@import url(./__facts/intro__facts.css);
@import url(./__span/intro__span.css);
@import url(./__fact/intro__fact.css);

.intro {
  max-width: 683px;
  margin-top: 80px;
  margin-left: 228px;
}

@media screen and (max-width: 1439px) {
  .intro {
    margin-left: 148px;
  }
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 64px;
  }
}
