.root {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background-color: #2a2c2f;
  max-width: 1440px;
  color: white;
}
