.video__subtitle {
  max-width: 640px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  margin: 40px auto 0;
  white-space: pre;
}

@media screen and (max-width: 767px) {
  .video__subtitle {
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 23px;
    white-space: unset;
  }
}
