.intro__content {
  font-size: 14px;
  line-height: 24px;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .intro__content {
    font-size: 16px;
    line-height: 27px;
    margin-top: 32px;
  }
}
